html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.chatContainer, ul {
    flex-grow: 1; /* Allow chatContainer and ul elements to grow */
}
ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    gap: 5px;
    margin: 0px;
    padding: 0px;
    flex-grow: 1; /* Allow ul to take up remaining space */
    overflow-y: auto;
}
.rightSide {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    padding: 7px 20px;
    margin: 10px;
    max-width: 600px;
    /* width: max-content; */
    word-wrap: break-word;
    flex-grow: 1;
    flex-shrink: 0
}
.leftSide {
    text-align: left;
    background-color: #f5f5f5;
    color: black;
    border-radius: 20px;
    padding: 7px 20px;
    margin: 10px;
    max-width: 60%;
    width: max-content;
    word-wrap: break-word; /* Prevents long words from overflowing */
    flex-shrink: 0;
}
.rightSideli {
    align-self: flex-end;
}
.topbar {
    display: flex;
    background-color: #f5f5f5;
    margin: 0;
    padding: 7px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.chatName {
    margin: 0px 0px 0px 10px;
}
.bottombar {
    position: fixed;
    bottom: 0;
    background-color: #f5f5f5;
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.bottombar > form {
    display: flex; 
    align-items: center; 
}
.bottombar > form > input {
    width: 500px;
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
}
.send {
    margin-left: 10px;
    height: 30px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
.hideProfile-container {
    margin-left: auto; /* Pushes the button to the right */
}
.hideProfile {
    background-color: #f5f5f5; /* Optional, for a better look */
    border: none;
    cursor: pointer;
    padding: 10px;
}
.chatContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px; /* Adjust to the height of the top bar */
    padding-bottom: 80px; /* Adjust to the height of the bottom bar */
    overflow-y: auto; /* Enable scrolling for chat area */
}
.chatContainer2 {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 360px);
    padding-top: 50px; /* Adjust to the height of the top bar */
    padding-bottom: 80px; /* Adjust to the height of the bottom bar */
    overflow-y: auto; /* Enable scrolling for chat area */
}
@media (max-width: 826px) {
    .chatContainer2 {
        width: calc(100% - 260px);
    }
}
@media (max-width: 630px) {
    .bottombar > form > input {
        width: 350px;
        
    }
}
@media (max-width: 467px) {
    .bottombar > form > input {
        width: 280px;
        
    }
}
@media (max-width: 353px) {
    .bottombar > form > input {
        width: 240px;
        
    }
}